fastapi
uvicorn
python-dotenv
pymongo
mercadopago
assemblyai
openai
python-docx
python-multipart
reportlab
pymupdf
pdfplumber
pydub
ffmpeg-python==0.2.0
brevo-python
python-multipart
sib-api-v3-sdk==7.3.0
celery
redis
boto3
gevent>=23.9.1 
beautifulsoup4==4.12.3
python-docx==1.1.2
motor
passlib
bcrypt
email-validator>=2.0.0
