fastapi
uvicorn
python-dotenv
pymongo
mercadopago
assemblyai
openai
python-docx
python-multipart
reportlab
pymupdf
pdfplumber
pydub
ffmpeg-python==0.2.0
brevo-python
python-multipart
sib-api-v3-sdk==7.3.0
celery
redis
